.dropdown-row-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .dropdown {
    flex-basis: 23%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-size: 16px;
    color: #555;
  }
  