
/* Fixed top navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1f2933;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    z-index: 100;
  }
  
  .navbar-brand {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    padding-left: 30px;
  }
  
  .navbar-menu {
    display: flex;
    align-items: center;
  }
  
  .navbar-item {
    background-color: rgb(194, 65, 65);
    border: 0.1;
    border-color: rgb(194, 65, 65);
    border-radius: 10px;
    color: #1f2933;
    font-weight : bold;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    margin-right: 40px;
  }
  
  .navbar-item:hover {
    color: #ccc;
    background-color: red;
  }
  
  .navbar-dropdown {
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 10px 0;
  }
  
  .navbar-dropdown a {
    color: #333;
    display: block;
    font-size: 16px;
    padding: 10px;
    text-decoration: none;
  }
  
  .navbar-dropdown a:hover {
    background-color: #eee;
  }
  