.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    background-color: #1f2933;
    color: #fff;
    padding-top: 280px;
    z-index: 99;
    text-align:center;
  }
  
  .sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
  }
  
  .sidebar a {
    color: #fff;
    display: block;
    font-size: 16px;
    margin: 10px;
    text-decoration: none;
    padding: 10px;
  }
  
  .sidebar a:hover {
    background-color: #506a84;
    border-radius: 30px;
  }
  