@import url(app.css);

.apply-lawyer-section {
  margin: 0 auto;
  width: 30%;
}

.apply-lawyer-container {
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}
option {
  text-transform: capitalize;
}
